[submodule ".work-config"]
	path = .work-config
	url = git@github.com:phenax/work-dotfiles.git
[submodule ".config/suckless/st"]
	path = .config/suckless/st
	url = https://github.com/phenax/st.git
[submodule ".config/suckless/tabbed"]
	path = .config/suckless/tabbed
	url = https://github.com/phenax/tabbed.git
[submodule "scripts/bsp-layout"]
	path = scripts/bsp-layout
	url = https://github.com/phenax/bsp-layout.git
[submodule "scripts/anypinentry"]
	path = scripts/anypinentry
	url = https://github.com/phenax/anypinentry.git
[submodule ".config/suckless/bslock"]
	path = .config/suckless/bslock
	url = https://github.com/phenax/bslock.git
[submodule ".config/suckless/dmenu"]
	path = .config/suckless/dmenu
	url = https://github.com/phenax/dmenu.git
[submodule ".config/suckless/dwm"]
	path = .config/suckless/dwm
	url = https://github.com/phenax/dwm.git
[submodule ".config/suckless/dwmblocks"]
	path = .config/suckless/dwmblocks
	url = https://github.com/phenax/dwmblocks.git
[submodule ".config/suckless/shotkey"]
	path = .config/suckless/shotkey
	url = https://github.com/phenax/shotkey.git
[submodule ".config/suckless/popcorn"]
	path = .config/suckless/popcorn
	url = https://github.com/phenax/popcorn.git
[submodule ".config/zshplugins/zsh-autosuggestions"]
	path = .config/zshplugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zshplugins/zsh-completions"]
	path = .config/zshplugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".config/zshplugins/zsh-syntax-highlighting"]
	path = .config/zshplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
