# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Akshay Nair
	email = phenax5@gmail.com
[merge]
  tool = vimdiff
; [mergetool]
  ; prompt = true
; [mergetool "vimdiff"]
  ; cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
; [difftool]
  ; prompt = false
[diff]
  tool = vimdiff
[core]
	excludesfile = ~/.config/git-config/gitignore
[alias]
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
