# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Akshay Nair
	email = phenax5@gmail.com
[merge]
  tool = vimdiff
; [mergetool]
  ; prompt = true
; [mergetool "vimdiff"]
  ; cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
; [difftool]
  ; prompt = false
[diff]
  tool = vimdiff
[core]
	excludesfile = ~/.config/git-config/gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX -p'^(\\@|commit) '
[alias]
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
