[submodule ".work-config"]
	path = .work-config
  url = git@github.com:phenax/work-dotfiles.git
[submodule ".config/suckless/st"]
	path = .config/suckless/st
	url = git@github.com:phenax/st.git
[submodule ".config/suckless/tabbed"]
	path = .config/suckless/tabbed
	url = git@github.com:phenax/tabbed.git
[submodule "/home/akshayn/scripts/bsp-layout"]
	path = /home/akshayn/scripts/bsp-layout
	url = git@github.com:phenax/bsp-layout.git
[submodule "/home/akshayn/.config/suckless/bslock"]
	path = /home/akshayn/.config/suckless/bslock
	url = git@github.com:phenax/bslock.git
[submodule "/home/akshayn/.config/suckless/dmenu"]
	path = /home/akshayn/.config/suckless/dmenu
	url = git@github.com:phenax/dmenu.git
[submodule "/home/akshayn/scripts/statusbar"]
	path = /home/akshayn/scripts/statusbar
	url = git@github.com:phenax/statusbar.git
