@yaatt:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=3bb9105a-9e9c-421e-918f-b2819fc121d2
@algebraic-effects:registry=https://registry.yarnpkg.com/
//registry.yarnpkg.com/:_authToken=d4589259-bf87-418b-bbd1-babf856e045f
init-author-name=Akshay Nair
