URxvt.font: xft:Source Code Pro for Powerline:size=11
URxvt.boldFont: xft:Source Code Pro for Powerline:size=11
URxvt.scrollBar: false
URxvt.perl-ext-common:resize-font
URxvt.keysym.C-minus:resize-font:smaller
URxvt.keysym.C-equal:resize-font:bigger
URxvt.keysym.C-0:resize-font:reset

! Special
*.foreground:   #d8dee9
*.background:   #1d1f31
*.cursorColor:  #d8dee9

! Colors

*.color0:  #282828
*.color8:  #928374

*.color1:  #cc241d
*.color9:  #fb4934

*.color2:  #98971a
*.color10:  #b8bb26

*.color3:  #d79921
*.color11:  #fabd2f

*.color4:  #458588
*.color12:  #83a598

*.color5:  #b16286
*.color13:  #d3869b

*.color6:  #689d6a
*.color14:  #8ec07c

*.color7:  #a89984
*.color15:  #ebdbb2

