
! Special
*.foreground:   #d8dee9
*.background:   #0f1215
*.cursorColor:  #d8dee9
*.accent: #16a085

! Colors
*.color0:  #1f2225
*.color8:  #555555

*.color1:  #fc5c65
*.color9:  #CC2C52

*.color2:  #16a085
*.color10:  #20bf6b

*.color3:  #fed330
*.color11:  #f7b731

*.color4:  #60a3bc
*.color12:  #3867d6

*.color5:  #a55eea
*.color13:  #8854d0

*.color6:  #2bcbba
*.color14:  #0fb9b1

*.color7:  #a89984
*.color15:  #ebdbb2

